@charset "UTF-8";
@font-face {
  font-family: 'Conv_Roboto-Thin';
  src: url("../fonts/Roboto-Thin/Roboto-Thin.eot");
  src: local("☺"), url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin/Roboto-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Zurich Cn BT Bold';
  src: url("../fonts/Zurich Cn BT Bold/Zurich Cn BT Bold.eot");
  src: local("☺"), url("../fonts/Zurich Cn BT Bold/Zurich Cn BT Bold.woff") format("woff"), url("../fonts/Zurich Cn BT Bold/Zurich Cn BT Bold.ttf") format("truetype"), url("../fonts/Zurich Cn BT Bold/Zurich Cn BT Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Conv_Roboto-Thin, sans-serif;
}

body a {
  text-decoration: none;
}

.app-container {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  background: #AEE8A7;
  overflow: hidden;
}

.app-header {
  position: relative;
  width: 100%;
  height: 110px;
  background: #B8CBFF;
}

.wrapp-contact {
  width: 980px;
  margin: 0 auto;
}

.contact-name-number {
  float: right;
  margin-top: 35px;
  color: #0281BF;
  font-weight: 900;
  font: 25px "Conv_Zurich Cn BT Bold", sans-serif;
}

.logo {
  float: left;
  font-family: "Conv_Zurich Cn BT Bold", sans-serif;
  font-size: 80px;
  color: #f54440;
  margin-top: 10px;
}

.logo-img {
  float: left;
  width: 150px;
  height: 120px;
  margin-top: 15px;
  background: url("../img/logo1.png") no-repeat;
}

.app-wrapper {
  width: 980px;
  min-height: 600px;
  margin: 0 auto;
}

.app-aside {
  float: right;
  width: 30%;
  height: auto;
  min-height: 600px;
  border-top: 1px solid #B8CBFF;
  background: #FFECC4;
}

.app-menu {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  background: #f54440;
}

.app-menu a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2em;
  font-weight: 900;
  color: #0281BF;
  font: 20px "Conv_Zurich Cn BT Bold", sans-serif;
}

.menu-buttom1 {
  height: 100%;
  width: 147px;
  float: right;
  border-left: 2px solid #B8CBFF;
  text-align: center;
  background: #FFECC4;
  cursor: pointer;
}

.menu-buttom2 {
  height: 100%;
  width: 146px;
  float: right;
  text-align: center;
  background: #FFECC4;
  cursor: pointer;
}

.bottom:hover {
  background: #E8A7C4;
}

.bottom:active {
  background: #f54440;
}

.app-footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 110px;
  width: 100%;
  background-color: #B8CBFF;
}

.myform {
  position: absolute;
  width: 70%;
  min-width: 400px;
  margin-top: 70px;
}

.myform input {
  border: 1px solid #B8CBFF;
  width: 250px;
  height: 35px;
  margin-left: 22px;
}

.myform > * {
  margin: 0.3rem 0;
}

.inpblock > input {
  display: block;
}

.inpblock > input {
  display: block;
  margin-top: -1px;
}

input, button {
  padding: 0.3rem;
  outline: none;
}

.button-form {
  display: block;
  margin-left: 22px;
  cursor: pointer;
  background: #B8CBFF;
  color: #0281BF;
  font-weight: 900;
  font: 18px "Conv_Zurich Cn BT Bold", sans-serif;
}

.buttom-form:hover {
  background: #E8A7C4;
}

.buttom-form:active {
  background: #f54440;
}

.hidden {
  visibility: hidden;
}

.info {
  font: 18px "Conv_Zurich Cn BT Bold", sans-serif;
  margin: 0 25px;
}

#exit {
  float: right;
  float-position: relative;
  float-bottom: 200px;
}

#content {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 50%;
  display: table;
  float: left;
  margin-top: 10px;
}

.img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  float: left;
}

.ul-item {
  display: inline-block;
  margin: 0;
}

.ul-item li {
  list-style-type: none;
  font: 20px "Conv_Zurich Cn BT Bold", sans-serif;
  color: #0281BF;
  line-height: 2;
}
